@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 1800px;

  min-width: 360px;
  justify-content: center;
  position: relative;
  background: linear-gradient(163.45deg, #0b486b -15.18%, #dc0000 41.68%, #0b486b 104.89%);
  display: block;
}
nav {
  position: absolute;
  width: 100%;
  height: 50px;

  background: #ed1b24;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
nav .container h1 {
  color: white;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  left: 110px;
  position: absolute;
  top: 8px;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
}
nav .container h2 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  top: 93px;
  left: 90px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 1px;
}
.card {
  background: linear-gradient(137.53deg, #dc0000 -1.89%, #0b486b 116.81%);
  position: absolute;
  width: 266px;
  height: 335px;
  left: 60px;
  top: 200px;
  border-radius: 20px;

  box-shadow: 5px 30px 10px rgba(0, 0, 0, 0.25);
}
.card p {
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 60px;
  word-wrap: break-word;
  width: 186px;
  margin-left: 50px;
}
.card h4 {
  position: absolute;
  font-weight: 700;

  left: 90px;
  margin-top: 20px;
  font-size: 28px;
  color: white;
}
.card img {
  position: absolute;
  width: 191px;
  height: 168px;
  left: 50px;
  top: 150px;
  z-index: 100;
  filter: drop-shadow(3px 11px 10px rgba(0, 0, 0, 0.25));
}
.card h5 {
  position: absolute;

  left: 7px;
  top: 100px;

  z-index: 99;
  color: rgba(0, 0, 0, 0.17);
  font-size: 128px;
  font-weight: 700;
}
.card .bawah {
  position: absolute;
  width: 266px;
  height: 110px;
  left: 0px;
  top: 250px;
  justify-content: center;
  align-items: center;

  background: #bab2b2;
  border-radius: 20px 20px 20px 20px;
}
.card .bawah button {
  position: absolute;
  width: 155px;
  height: 33px;
  left: 60px;
  top: 60px;
  background: #dc0000;
  border: 1px solid #ed1b24;
  border-radius: 20px;
}
.card .bawah button a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

/* CARD 2 */
.container h2 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  top: 600px;
  left: 100px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 1px;
}

/* card 3 */
.container .nama {
  color: white;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  top: 1152px;
  left: 100px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 1px;
}
.card3 {
  background: linear-gradient(137.53deg, #dc0000 -1.89%, #0b486b 116.81%);
  position: absolute;
  width: 266px;
  height: 335px;
  left: 60px;
  top: 1270px;

  border-radius: 20px;

  box-shadow: 5px 30px 10px rgba(0, 0, 0, 0.25);
}
.card3 p {
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 50px;
  word-wrap: break-word;
  width: 186px;
  margin-left: 50px;
}
.card3 h4 {
  position: absolute;
  font-weight: 700;

  left: 90px;
  margin-top: 15px;
  font-size: 28px;
  color: white;
}
.card3 img {
  position: absolute;
  width: 142px;
  height: 214px;
  left: 70px;
  top: 100px;
  z-index: 100;
  filter: drop-shadow(3px 11px 10px rgba(0, 0, 0, 0.25));
}
.card3 h5 {
  position: absolute;

  left: 100px;
  top: 100px;

  z-index: 99;
  color: rgba(0, 0, 0, 0.17);
  font-size: 128px;
  font-weight: 700;
}
.card3 .bawah {
  position: absolute;
  width: 266px;
  height: 110px;
  left: 0px;
  top: 250px;
  justify-content: center;
  align-items: center;

  background: #bab2b2;
  border-radius: 20px 20px 20px 20px;
}
.card3 .bawah button {
  position: absolute;
  width: 155px;
  height: 33px;
  left: 60px;
  top: 60px;
  background: #dc0000;
  border: 1px solid #ed1b24;
  border-radius: 20px;
}
.card3 .bawah button a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

/* AKHIR SCARD 2 */
/* CARD 2 */
.container h2 {
  color: white;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  top: 600px;
  left: 100px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 1px;
}
.card2 {
  background: linear-gradient(137.53deg, #dc0000 -1.89%, #0b486b 116.81%);
  position: absolute;
  width: 266px;
  height: 335px;
  left: 60px;
  top: 707px;

  border-radius: 20px;

  box-shadow: 5px 30px 10px rgba(0, 0, 0, 0.25);
}
.card2 p {
  color: white;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 60px;
  word-wrap: break-word;
  width: 186px;
  margin-left: 50px;
}
.card2 h4 {
  position: absolute;
  font-weight: 700;

  left: 90px;
  margin-top: 20px;
  font-size: 28px;
  color: white;
}
.card2 img {
  position: absolute;
  width: 171px;
  height: 210px;
  left: 60px;
  top: 100px;
  z-index: 100;
  filter: drop-shadow(3px 11px 10px rgba(0, 0, 0, 0.25));
}
.card2 h5 {
  position: absolute;

  left: 97px;
  top: 100px;

  z-index: 99;
  color: rgba(0, 0, 0, 0.17);
  font-size: 128px;
  font-weight: 700;
}
.card2 .bawah {
  position: absolute;
  width: 266px;
  height: 110px;
  left: 0px;
  top: 250px;
  justify-content: center;
  align-items: center;

  background: #bab2b2;
  border-radius: 20px 20px 20px 20px;
}
.card2 .bawah button {
  position: absolute;
  width: 155px;
  height: 33px;
  left: 60px;
  top: 60px;
  background: #dc0000;
  border: 1px solid #ed1b24;
  border-radius: 20px;
}
.card2 .bawah button a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

/* AKHIR SCARD 2 */
footer {
  position: absolute;
  width: 197px;
  height: 27px;
  left: 100px;
  top: 1770px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
